{% extends "UmbriaOpenApiBundle::base.html.twig" %}

{% block body %}
    <div id="map" class="map-large"></div>
    <div id="legend">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var map;
        var clusterer = null;
        var umbriaCenter = {lat: 42.96637, lng: 12.35635};

        var markerGroups = {
            "tourism_attractor": [],
            "tourism_proposal": [],
            "tourism_event": [],
            "tourism_travel_agency": [],
            "tourism_consortium": [],
            "tourism_profession": [],
            "tourism_iat": [],
            "tourism_sport_facility": [],
            "accomodation": []
        };

        // lista delle posizioni
        var attrattori = [
            {% for entity in attrattori %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];
        var proposte = [
            {% for entity in proposte %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];
        var eventi = [
            {% for entity in eventi %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];
        var agenzieViaggio = [
            {% for entity in agenzieViaggio %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];
        var consorzi = [
            {% for entity in consorzi %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];
        var professioni = [
            {% for entity in professioni %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];
        var iat = [
            {% for entity in iat %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];
        var sportFacility = [
            {% for entity in sportFacility %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];
        var accomodation = [
            {% for entity in accomodation %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];

        var mcAttrattori;
        var mcProposte;
        var mcEventi;
        var mcAgenzieViaggio;
        var mcConsorzi;
        var mcProfessioni;
        var mcIat;
        var mcAccomodation;
        var mcSportFacility;

        function initMap() {
            // opzioni mappa
            var mapOptions = {
                mapTypeId: google.maps.MapTypeId.HYBRID,
                center: umbriaCenter,
                zoom: 11
            };

            // creazione mappa
            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            initLegend();
            setPositionFromCookies();
            // GEOLOCATION
            geolocation();

            //Registra cambiamenti posizione su cookie
            google.maps.event.addListener(map, 'click', function (event) {
                var center = map.getCenter();
                var zoom = map.getZoom();
                var lat = center.lat().toFixed(5);
                var lng = center.lng().toFixed(5);
                Cookies.set('lat', lat);
                Cookies.set('lng', lng);
                Cookies.set('zoom', zoom);
            });
            google.maps.event.addListener(map, 'bounds_changed', function (event) {
                var center = map.getCenter();
                var zoom = map.getZoom();
                var lat = center.lat().toFixed(5);
                var lng = center.lng().toFixed(5);
                Cookies.set('lat', lat);
                Cookies.set('lng', lng);
                Cookies.set('zoom', zoom);
            });
            google.maps.event.addListener(map, 'center_changed', function (event) {
                var center = map.getCenter();
                var zoom = map.getZoom();
                var lat = center.lat().toFixed(5);
                var lng = center.lng().toFixed(5);
                Cookies.set('lat', lat);
                Cookies.set('lng', lng);
                Cookies.set('zoom', zoom);
            });
            google.maps.event.addListener(map, 'zoom_changed', function (event) {
                var center = map.getCenter();
                var zoom = map.getZoom();
                var lat = center.lat().toFixed(5);
                var lng = center.lng().toFixed(5);
                Cookies.set('lat', lat);
                Cookies.set('lng', lng);
                Cookies.set('zoom', zoom);
            });

            initMarkerClusterers();
            updateMarkersAll();
        }

        function initMarkerClusterers() {
            var clusterStyles = [
                {
                    textColor: '#DA4F49',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions = {maxZoom: 15, styles: clusterStyles};
            mcAttrattori = new MarkerClusterer(map, [], mcOptions);

            var clusterStyles2 = [
                {
                    textColor: '#FAA732',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions2 = {maxZoom: 15, styles: clusterStyles2};
            mcProposte = new MarkerClusterer(map, [], mcOptions2);

            var clusterStyles3 = [
                {
                    textColor: '#5BB75B',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions3 = {maxZoom: 15, styles: clusterStyles3};
            mcEventi = new MarkerClusterer(map, [], mcOptions3);

            var clusterStyles4 = [
                {
                    textColor: '#EFE926',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions4 = {maxZoom: 15, styles: clusterStyles4};
            mcAgenzieViaggio = new MarkerClusterer(map, [], mcOptions4);

            var clusterStyles5 = [
                {
                    textColor: '#8824B2',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions5 = {maxZoom: 15, styles: clusterStyles5};
            mcConsorzi = new MarkerClusterer(map, [], mcOptions5);

            var clusterStyles6 = [
                {
                    textColor: '#90C3F4',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions6 = {maxZoom: 15, styles: clusterStyles6};
            mcProfessioni = new MarkerClusterer(map, [], mcOptions6);

            var clusterStyles7 = [
                {
                    textColor: '#011E3B',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions7 = {maxZoom: 15, styles: clusterStyles7};
            mcIat = new MarkerClusterer(map, [], mcOptions7);

            var clusterStyles8 = [
                {
                    textColor: '#525052',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions8 = {maxZoom: 15, styles: clusterStyles8};
            mcSportFacility = new MarkerClusterer(map, [], mcOptions8);

            var clusterStyles9 = [
                {
                    textColor: '#FA6603',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions9 = {maxZoom: 15, styles: clusterStyles9};
            mcAccomodation = new MarkerClusterer(map, [], mcOptions9);

        }
        function initLegend() {
            //legend
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(
                    document.getElementById('legend'));

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#DA4F49; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Attrattori</span> ' +
                    '<input id="tourism_attractor_cb" class="legendcheckbox" type="checkbox" ' +
                    'onchange="updateMarkers(\'tourism_attractor\')" checked="checked">' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#FAA732; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Proposte</span>' +
                    '<input id="tourism_proposal_cb" class="legendcheckbox" type="checkbox" ' +
                    'onchange="updateMarkers(\'tourism_proposal\')" >' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#5BB75B; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Eventi</span>' +
                    '<input id="tourism_event_cb" class="legendcheckbox" type="checkbox" ' +
                    'onchange="updateMarkers(\'tourism_event\')" checked="checked">' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#EFE926; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Agenzie di viaggio</span>' +
                    '<input id="tourism_travel_agency_cb" class="legendcheckbox" type="checkbox" ' +
                    'onchange="updateMarkers(\'tourism_travel_agency\')" >' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#8824B2; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Consorzi</span>' +
                    '<input id="tourism_consortium_cb" class="legendcheckbox" type="checkbox" ' +
                    'onchange="updateMarkers(\'tourism_consortium\')" >' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#3D94EA; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Professioni turistiche</span>' +
                    '<input id="tourism_profession_cb" class="legendcheckbox" type="checkbox" ' +
                    'onchange="updateMarkers(\'tourism_profession\')" >' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#006DCC; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Iat </span>' +
                    '<input id="tourism_iat_cb" class="legendcheckbox" type="checkbox"' +
                    'onchange="updateMarkers(\'tourism_iat\')">' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#525052; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Impianti Sportivi </span>' +
                    '<input id="tourism_sport_facility_cb" class="legendcheckbox" type="checkbox"' +
                    'onchange="updateMarkers(\'tourism_sport_facility\')">' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#fa6603; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Strutture Ricettive </span>' +
                    '<input id="accomodation_cb" class="legendcheckbox" type="checkbox"' +
                    'onchange="updateMarkers(\'accomodation\')">' +
                    '</div>';
            legend.appendChild(div);
            setLayerFromCookies();
        }

        function setPositionFromCookies() {
            // riposizionamento mappa in relazione all'ultimo place visitato
            var latCenter = Cookies.get('lat');
            var lngCenter = Cookies.get('lng');
            var zoom = Cookies.get('zoom');
            if (latCenter != null && lngCenter != null) {
                Cookies.remove('lat');
                Cookies.remove('lng');
                Cookies.remove('zoom');
            }
            else {
                latCenter = umbriaCenter.lat;
                lngCenter = umbriaCenter.lng;
                zoom = 9;
            }

            map.setCenter({lat: parseFloat(latCenter), lng: parseFloat(lngCenter)});
            map.setZoom(parseInt(zoom));


        }

        function setLayerFromCookies() {
            // riposizionamento layer in relazione all'ultimo place visitato
            var layer = Cookies.get('layer');
            if (layer != null) {
                Cookies.remove('layer');
                document.getElementById("tourism_attractor_cb").checked = false;
                document.getElementById("tourism_proposal_cb").checked = false;
                document.getElementById("tourism_event_cb").checked = false;
                document.getElementById("tourism_travel_agency_cb").checked = false;
                document.getElementById("tourism_consortium_cb").checked = false;
                document.getElementById("tourism_profession_cb").checked = false;
                document.getElementById("tourism_iat_cb").checked = false;
                document.getElementById("tourism_sport_facility_cb").checked = false;
                document.getElementById("accomodation_cb").checked = false;
                document.getElementById(layer).checked = true;
            }


        }

        function addMarkerCall(place, bounds, interval, mc, markerIcon) {
            setTimeout(function () {
                addMarker(place, bounds, mc, markerIcon)
            }, interval);
        }

        function addMarker(place, bounds, mc, markerIcon) {
            var name = place.name;
            var type = place.type;
            var latLng = place.latLng;
            var href = place.href;

            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: name,
                draggable: false,
                icon: markerIcon,
                animation: google.maps.Animation.DROP
            });

            // creazione array markers
            if (!markerGroups[type]) markerGroups[type] = [];
            markerGroups[type].push(marker);

            mc.addMarker(marker);

            var contentString = '<div id="content">' +
                    '<h5>' +
                    name +
                    '</h5>' +
                    '<a  href="' +
                    href +
                    '">show</a>' +
                    '</div>';

            // infowindow
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });


        }

        //_______________________________________________ GEOLOCATION
        function geolocation() {
            // Try HTML5 geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {

                    var pos = {lat: position.coords.latitude, lng: position.coords.longitude};

                    var marker_green = '{{ asset('img/map/marker_user.png') }}';

                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: 'La tua posizione',
                        draggable: false,
                        icon: marker_green,
                        animation: google.maps.Animation.DROP
                    });

                }, function () {
                    handleNoGeolocation(true);
                });
            } else {
                // Browser doesn't support Geolocation
                handleNoGeolocation(false);
            }
        }

        function handleNoGeolocation(errorFlag) {
            var content;
            if (errorFlag) {
                content = 'Error: The Geolocation service failed.';
            } else {
                content = 'Error: Your browser doesn\'t support geolocation.';
            }
        }


        function getSelectedPOI() {
            var selectedPOI = {
                tourism_attractor: 0,
                tourism_proposal: 0,
                tourism_event: 0,
                tourism_travel_agency: 0,
                tourism_consortium: 0,
                tourism_profession: 0,
                tourism_iat: 0,
                tourism_sport_facility: 0,
                accomodation: 0
            };

            if (document.getElementById("tourism_attractor_cb").checked) {
                selectedPOI.tourism_attractor = 1;
            }
            if (document.getElementById("tourism_proposal_cb").checked) {
                selectedPOI.tourism_proposal = 1;
            }
            if (document.getElementById("tourism_event_cb").checked) {
                selectedPOI.tourism_event = 1;
            }
            if (document.getElementById("tourism_travel_agency_cb").checked) {
                selectedPOI.tourism_travel_agency = 1;
            }
            if (document.getElementById("tourism_consortium_cb").checked) {
                selectedPOI.tourism_consortium = 1;
            }
            if (document.getElementById("tourism_profession_cb").checked) {
                selectedPOI.tourism_profession = 1;
            }
            if (document.getElementById("tourism_iat_cb").checked) {
                selectedPOI.tourism_iat = 1;
            }
            if (document.getElementById("tourism_sport_facility_cb").checked) {
                selectedPOI.tourism_sport_facility = 1;
            }
            if (document.getElementById("accomodation_cb").checked) {
                selectedPOI.accomodation = 1;
            }
            return selectedPOI;
        }

        function getSelectedPOI2() {
            var selectedPOI = [];
            var cnt = 0;
            if (document.getElementById("tourism_attractor_cb").checked) {
                selectedPOI[cnt] = "tourism_attractor";
                cnt++;
            }
            if (document.getElementById("tourism_proposal_cb").checked) {
                selectedPOI[cnt] = "tourism_proposal";
                cnt++;
            }
            if (document.getElementById("tourism_event_cb").checked) {
                selectedPOI[cnt] = "tourism_event";
                cnt++;
            }
            if (document.getElementById("tourism_travel_agency_cb").checked) {
                selectedPOI[cnt] = "tourism_travel_agency";
                cnt++;
            }
            if (document.getElementById("tourism_consortium_cb").checked) {
                selectedPOI[cnt] = "tourism_consortium";
                cnt++;
            }
            if (document.getElementById("tourism_profession_cb").checked) {
                selectedPOI[cnt] = "tourism_profession";
                cnt++;
            }
            if (document.getElementById("tourism_iat_cb").checked) {
                selectedPOI[cnt] = "tourism_iat";
                cnt++;
            }
            if (document.getElementById("tourism_sport_facility_cb").checked) {
                selectedPOI[cnt] = "tourism_sport_facility";
                cnt++;
            }
            if (document.getElementById("accomodation_cb").checked) {
                selectedPOI[cnt] = "accomodation";
                cnt++;
            }
            return selectedPOI;
        }

        function updateMarkers(type) {
            if (isCheckedType(type)) {
                //deleteMarkersByType(type);
                var places = getPlacesByType(type);
                var mc = getClustererByType(type);
                var icon = getMarkerIconByType(type);
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0; i < places.length; i++) {
                    addMarkerCall(places[i], bounds, 0, mc, icon);
                }
            }
            else {
                deleteMarkersByType(type);
            }

        }


        function updateMarkersAll() {
            var selectedPOI = getSelectedPOI2();
            for (var type in selectedPOI) {
                updateMarkers(selectedPOI[type]);
            }
        }

        function getPlacesByType(type) {
            if (type == 'tourism_attractor') {
                return attrattori;
            } else if (type == 'tourism_proposal') {
                return proposte;
            } else if (type == 'tourism_event') {
                return eventi;
            } else if (type == 'tourism_travel_agency') {
                return agenzieViaggio;
            } else if (type == 'tourism_consortium') {
                return consorzi;
            } else if (type == 'tourism_profession') {
                return professioni;
            } else if (type == 'tourism_iat') {
                return iat;
            } else if (type == 'tourism_sport_facility') {
                return sportFacility;
            } else if (type == 'accomodation') {
                return accomodation;
            }
            return [];
        }

        function getClustererByType(type) {
            if (type == 'tourism_attractor') {
                return mcAttrattori;
            } else if (type == 'tourism_proposal') {
                return mcProposte;
            } else if (type == 'tourism_event') {
                return mcEventi;
            } else if (type == 'tourism_travel_agency') {
                return mcAgenzieViaggio;
            } else if (type == 'tourism_consortium') {
                return mcConsorzi;
            } else if (type == 'tourism_profession') {
                return mcProfessioni;
            } else if (type == 'tourism_iat') {
                return mcIat;
            } else if (type == 'tourism_sport_facility') {
                return mcSportFacility;
            } else if (type == 'accomodation') {
                return mcAccomodation;
            }
            return [];
        }

        function getMarkerIconByType(type) {
            var markerIcon;
            if (type == 'tourism_attractor') {
                markerIcon = '{{ asset('img/map/marker_monument_red.png') }}';
            } else if (type == 'tourism_proposal') {
                markerIcon = '{{ asset('img/map/marker_star_orange.png') }}';
            } else if (type == 'tourism_event') {
                markerIcon = '{{ asset('img/map/marker_theatre_green.png') }}';
            } else if (type == 'tourism_travel_agency') {
                markerIcon = '{{ asset('img/map/marker_travel_yellow.png') }}';
            } else if (type == 'tourism_consortium') {
                markerIcon = '{{ asset('img/map/marker_consortium_purple.png') }}';
            } else if (type == 'tourism_profession') {
                markerIcon = '{{ asset('img/map/marker_profession_blue.png') }}';
            } else if (type == 'tourism_iat') {
                markerIcon = '{{ asset('img/map/marker_info_blue.png') }}';
            } else if (type == 'tourism_sport_facility') {
                markerIcon = '{{ asset('img/map/marker_football_grey.png') }}';
            } else if (type == 'accomodation') {
                markerIcon = '{{ asset('img/map/marker_star_orange_dark.png') }}';
            }
            return markerIcon;
        }

        function getMarkersGroupByType(type) {
            if (type == 'tourism_attractor') {
                return markerGroups.tourism_attractor;
            } else if (type == 'tourism_proposal') {
                return markerGroups.tourism_proposal;
            } else if (type == 'tourism_event') {
                return markerGroups.tourism_event;
            } else if (type == 'tourism_travel_agency') {
                return markerGroups.tourism_travel_agency;
            } else if (type == 'tourism_consortium') {
                return markerGroups.tourism_consortium;
            } else if (type == 'tourism_profession') {
                return markerGroups.tourism_profession;
            } else if (type == 'tourism_iat') {
                return markerGroups.tourism_iat;
            } else if (type == 'tourism_sport_facility') {
                return markerGroups.tourism_sport_facility;
            } else if (type == 'accomodation') {
                return markerGroups.accomodation;
            }
            return [];
        }

        function deleteMarkersByType(type) {
            var places = getMarkersGroupByType(type);
            for (var i = 0; i < places.length; i++) {
                places[i].setMap(null);
            }
            getClustererByType(type).removeMarkers(getMarkersGroupByType(type));
        }

        function isCheckedType(type) {
            if (type == 'tourism_attractor') {
                if (document.getElementById("tourism_attractor_cb").checked)
                    return true;
            } else if (type == 'tourism_proposal') {
                if (document.getElementById("tourism_proposal_cb").checked)
                    return true;
            } else if (type == 'tourism_event') {
                if (document.getElementById("tourism_event_cb").checked)
                    return true;
            } else if (type == 'tourism_travel_agency') {
                if (document.getElementById("tourism_travel_agency_cb").checked)
                    return true;
            } else if (type == 'tourism_consortium') {
                if (document.getElementById("tourism_consortium_cb").checked)
                    return true;
            } else if (type == 'tourism_profession') {
                if (document.getElementById("tourism_profession_cb").checked)
                    return true;
            } else if (type == 'tourism_iat') {
                if (document.getElementById("tourism_iat_cb").checked)
                    return true;
            } else if (type == 'tourism_sport_facility') {
                if (document.getElementById("tourism_sport_facility_cb").checked)
                    return true;
            }
            else if (type == 'accomodation') {
                if (document.getElementById("accomodation_cb").checked)
                    return true;
            }
            return false;
        }

        /*function deleteMarkersAll() {
         clearMarkersAll();
         for(var i = 0; i < markerGroups.length; i++) {
         var markerGroup = markerGroups[i];
         for(var j = 0; j < markerGroup.length; j++) {
         markerGroup[j]=[];
         }
         }
         }
         function clearMarkersAll() {
         setMapOnAll(null);
         }
         function setMapOnAll(map) {
         for(var i = 0; i < markerGroups.length; i++) {
         var markerGroup = markerGroups[i];
         for(var j = 0; j < markerGroup.length; j++) {
         markerGroup[j].setMap(map);
                }
            }
         }*/


    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
{% endblock %}