{% extends "UmbriaProLocoBundle::frontend.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">

            <table>
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ event.id }}</td>
                </tr>
                <tr>
                    <th>Idcontenuto</th>
                    <td>{{ event.idContenuto }}</td>
                </tr>
                <tr>
                    <th>Homepage</th>
                    <td>{{ event.homepage }}</td>
                </tr>
                <tr>
                    <th>Eventdescription</th>
                    <td>{{ event.eventDescription }}</td>
                </tr>
                <tr>
                    <th>Startdate</th>
                    <td>{{ event.startDate }}</td>
                </tr>
                <tr>
                    <th>Enddate</th>
                    <td>{{ event.endDate }}</td>
                </tr>
                <tr>
                    <th>Titolotesto</th>
                    <td>{{ event.titoloTesto }}</td>
                </tr>
                <tr>
                    <th>Linkesterniassociati</th>
                    <td>{{ event.linkEsterniAssociati }}</td>
                </tr>
                <tr>
                    <th>Immaginespalladestra</th>
                    <td>{{ event.immagineSpallaDestra }}</td>
                </tr>
                <tr>
                    <th>Immaginecopertina</th>
                    <td>{{ event.immagineCopertina }}</td>
                </tr>
                <tr>
                    <th>Testoalternativoimmaginecopertina</th>
                    <td>{{ event.testoAlternativoImmagineCopertina }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

