{% extends "UmbriaProLocoBundle::frontend.html.twig" %}

{% block content %}
    <div id="map" class="map-large"></div>
    <div id="legend">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var map;
        var clusterer = null;
        var umbriaCenter = {lat: 43.06, lng: 12.23};

        var markerGroups = {
            "tourism_attractor": [],
            "tourism_proposal": [],
            "tourism_event": [],
            "tourism_travel_agency": [],
            "tourism_consortium": [],
            "tourism_profession": [],
            "tourism_iat": []
        };

        // lista delle posizioni
        var places = [
            {% for entity in entities %}
            {
                id: {{ entity.id }},
                name: "{{ entity.name }}",
                type: "{{ entity.type }}",
                latitude: {{ entity.latitude }},
                longitude: {{ entity.longitude }},
                latLng: {lat: {{ entity.latitude }}, lng: {{ entity.longitude }}},
                href: "{{ entity.href }}"
            },
            {% endfor %}
        ];

        function initMap() {
            // opzioni mappa
            var mapOptions = {
                mapTypeId: google.maps.MapTypeId.HYBRID,
                center: umbriaCenter,
                zoom: 11
            };

            // creazione mappa
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            //legend
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(
                    document.getElementById('legend'));

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#DA4F49; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Attrattori</span> ' +
                    '<input class="legendcheckbox" type="checkbox" onclick="toggleGroup(\'tourism_attractor\', this)" checked="checked">' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#FAA732; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Proposte</span>' +
                    '<input class="legendcheckbox" type="checkbox" onclick="toggleGroup(\'tourism_proposal\', this)" >' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#5BB75B; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Eventi</span>' +
                    '<input class="legendcheckbox" type="checkbox" onclick="toggleGroup(\'tourism_event\', this)" checked="checked">' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#EFE926; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Agenzie di viaggio</span>' +
                    '<input class="legendcheckbox" type="checkbox" onclick="toggleGroup(\'tourism_travel_agency\', this)" >' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#8824B2; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Consorzi</span>' +
                    '<input class="legendcheckbox" type="checkbox" onclick="toggleGroup(\'tourism_consortium\', this)" >' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#3D94EA; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Professioni turistiche</span>' +
                    '<input class="legendcheckbox" type="checkbox" onclick="toggleGroup(\'tourism_profession\', this)" >' +
                    '</div>';
            legend.appendChild(div);

            var div = document.createElement('div');
            div.innerHTML =
                    '<div class="legendrow">' +
                    '<div style="background-color:#006DCC; width: 10px; height: 10px; display: inline-block"></div> ' +
                    '<span class="legendlabel">Iat </span>' +
                    '<input class="legendcheckbox" type="checkbox" onclick="toggleGroup(\'tourism_iat\', this)" >' +
                    '</div>';
            legend.appendChild(div);

            // GEOLOCATION
            geolocation();

            google.maps.event.addDomListener(map, 'click', function (event) {
                var myLatLng = event.latLng;
                var lat = myLatLng.lat();
                var lng = myLatLng.lng();
                var zoom = mapObject.getZoom();
                Cookies.set('lat2', lat);
                Cookies.set('lng2', lng);
                Cookies.set('zoom', lng);
            });

            // riposizionamento mappa in relazione all'ultimo place visitato
            changeBounds = true;
            var latCenter = Cookies.get('lat2');
            var lngCenter = Cookies.get('lng2');
            var zoom = Cookies.get('zoom');
            if (latCenter != null && lngCenter != null) {
                Cookies.remove('lat');
                Cookies.remove('lng');
                Cookies.remove('zoom');
            }
            else {
                latCenter = umbriaCenter.lat;
                lngCenter = umbriaCenter.lng;
                zoom = 9;
            }

            map.setCenter({lat: parseFloat(latCenter), lng: parseFloat(lngCenter)});
            map.setZoom(zoom);


            changeBounds = false;

            // aggiunta maker
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < places.length; i++) {
                addMarkerCall(places[i], bounds, i * 10, changeBounds);
            }

            // opzioni cluster
            var clusterStyles = [
                {
                    textColor: 'white',
                    url: '{{ asset('img/map/cluster_marker.png') }}',
                    height: 52,
                    width: 53
                }
            ];
            var mcOptions = {maxZoom: 15, styles: clusterStyles};

            // creazione clusterer
            clusterer = new MarkerClusterer(map, [], mcOptions);
        }

        function addMarkerCall(place, bounds, interval, changeBounds) {
            setTimeout(function () {
                addMarker(place, bounds, changeBounds)
            }, interval);
        }

        function addMarker(place, bounds, changeBounds) {
            var name = place.name;
            var type = place.type;
            var latLng = place.latLng;
            var href = place.href;

            var visible = false;

            var markerIcon;
            if (type == 'tourism_attractor') {
                markerIcon = '{{ asset('img/map/marker_red.png') }}';
                visible = true;
            } else if (type == 'tourism_proposal') {
                markerIcon = '{{ asset('img/map/marker_orange.png') }}';
            } else if (type == 'tourism_event') {
                markerIcon = '{{ asset('img/map/marker_green.png') }}';
                visible = true;
            } else if (type == 'tourism_travel_agency') {
                markerIcon = '{{ asset('img/map/marker_yellow.png') }}';
            } else if (type == 'tourism_consortium') {
                markerIcon = '{{ asset('img/map/marker_purple.png') }}';
            } else if (type == 'tourism_profession') {
                markerIcon = '{{ asset('img/map/marker_blue.png') }}';
            } else if (type == 'tourism_iat') {
                markerIcon = '{{ asset('img/map/marker_blue_dark.png') }}';
            }

            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: name,
                draggable: false,
                icon: markerIcon,
                animation: google.maps.Animation.DROP
            });

            // creazione array markers
            if (!markerGroups[type]) markerGroups[type] = [];
            markerGroups[type].push(marker);

            clusterer.addMarker(marker);

            var contentString = '<div id="content">' +
                    '<h5>' +
                    name +
                    '</h5>' +
                    '<a onclick="setCenterCookie()" href="' +
                    href +
                    '">show</a>' +
                    '</div>';

            // infowindow
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });

            if(changeBounds){
                bounds.extend(marker.position);
                map.fitBounds(bounds);
            }

            if (visible == false) {
                marker.setVisible(false);
            }
        }

        //_______________________________________________ GEOLOCATION
        function geolocation() {
            // Try HTML5 geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {

                    var pos = {lat: position.coords.latitude, lng: position.coords.longitude};

                    var marker_green = '{{ asset('img/map/marker_user.png') }}';

                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: 'La tua posizione',
                        draggable: false,
                        icon: marker_green,
                        animation: google.maps.Animation.DROP
                    });

                }, function () {
                    handleNoGeolocation(true);
                });
            } else {
                // Browser doesn't support Geolocation
                handleNoGeolocation(false);
            }
        }

        function handleNoGeolocation(errorFlag) {
            var content;
            if (errorFlag) {
                content = 'Error: The Geolocation service failed.';
            } else {
                content = 'Error: Your browser doesn\'t support geolocation.';
            }
        }

        function toggleGroup(type, element) {
            for (var i = 0; i < markerGroups[type].length; i++) {
                var marker = markerGroups[type][i];
                if (element.checked) {
                    marker.setVisible(true);
                } else {
                    marker.setVisible(false);
                }
            }
        }

        function setCenterCookie() {
            var center = map.getCenter();
            Cookies.set('center', center);
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
{% endblock %}