{% extends "UmbriaProLocoBundle::base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('umbria_open_api_homepage') }}">
                    <img alt="Brand" src="{{ asset('img/logo_umbria.png') }}" height="70">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('umbria_pro_loco_homepage') }}">Map</a>
                    </li>
                    <li>
                        <a href="{{ path('attractor_index') }}">Attractors</a>
                    </li>
                    <li>
                        <a href="{{ path('proposal_index') }}">Proposals</a>
                    </li>
                    <li>
                        <a href="{{ path('event_index') }}">Event</a>
                    </li>
                    <li>
                        <a href="{{ path('accomodation_index') }}">Accommodation</a>
                    </li>
                    <li>
                        <a href="{{ path('travelagency_index') }}">Travel Agencies</a>
                    </li>
                    <li>
                        <a href="{{ path('consortium_index') }}">Consortia</a>
                    </li>
                    <li>
                        <a href="{{ path('profession_index') }}">Tourist Professions</a>
                    </li>
                    <li>
                        <a href="{{ path('iat_index') }}">Iat</a>
                    </li>
                    <li>
                        <a href="{{ path('sport_facility_index') }}">Sports facilities</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('nelmio_api_doc_index') }}" target="_blank">Open Api DOCS</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('umbria_pro_loco_homepage') }}">Italia </a></li>
                            <li><a href="{{ path('umbria_pro_loco_hp_en') }}">Eng</a></li></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

{% endblock %}