{% extends "UmbriaOpenApiBundle::base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h2>Agenzie di Viaggio</h2>
            </div>

            {% form_theme form 'form_table_layout.html.twig' %}

            {% block form_row %}
                {% spaceless %}
                    <div class="form_row">
                        {{ form_start(form) }}
                        {{ form_errors(form.text) }}
                        {{ form_widget(form.text) }}
                        {{ form_end(form) }}
                    </div>
                {% endspaceless %}
            {% endblock form_row %}

            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ knp_pagination_sortable(pagination, 'Denominazione', 'a.name') }}</th>
                    <th><span class="badge pull-right">{{ pagination.getTotalItemCount }}</span></th>
                </tr>
                </thead>
                <tbody>
                {% for travelAgency in pagination %}
                    <tr>
                        <td class="text-muted">
                            <small>{{ loop.index }}</small>
                        </td>
                        <td>{{ travelAgency.name }}</td>
                        <td>
                            <a class="btn btn-info btn-xs"
                               href="{{ path('travel_agency_show', { 'id': travelAgency.id }) }}">show</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
