{% extends "UmbriaOpenApiBundle::base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h2>
                    {{ travelAgency.name }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>
                    <address>
                <p>
                    <strong>{{ travelAgency.name }}</strong><br>
                    {% if travelAgency.address.streetAddress != '' %}
                        {{ travelAgency.address.streetAddress }}
                    {% endif %}
                    <br>
                    {% if travelAgency.address.addressLocality != '' %}
                        {{ travelAgency.address.addressLocality }}
                    {% endif %}
                    {% if travelAgency.address.addressRegion != '' %}
                        , {{ travelAgency.address.addressRegion }}
                    {% endif %}
                    {% if travelAgency.address.postalCode != '' %}
                        {{ travelAgency.address.postalCode }}
                    {% endif %}
                </p>
                </address>
                <p>
                    {% for phone in travelAgency.telephone %}
                        <abbr title="Phone">P:</abbr> {{ phone }}<br>
                    {% endfor %}
                    {% for faxNumber in travelAgency.fax %}
                        <abbr title="Fax number">F:</abbr> {{ faxNumber }}<br>
                    {% endfor %}
                    {% for mbox in travelAgency.email %}
                        <abbr title="Email">E:</abbr> {{ mbox }}<br>
                    {% endfor %}
                    {% for homepage in travelAgency.resourceOriginUrl %}
                        <abbr title="Homepage">H:</abbr> {{ homepage }}<br>
                    {% endfor %}
                </p>
                </p>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>
                                <small><b>Risorsa RDF</b></small>
                            </td>
                            <td><b>
                                    <a href="{{ travelAgency.uri }}">
                                        {{ travelAgency.uri }}
                                    </a>
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>coordinate</small>
                            </td>
                            <td>
                                {% if travelAgency.lat != null %}
                                    <a href="{{ path('umbria_open_api_map') }}"
                                       onclick="setCoordCookie({{ travelAgency.lat }},{{ travelAgency.lng }},'tourism_travel_agency_cb')">
                                        {{ travelAgency.lat }},{{ travelAgency.lng }}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>codice ISTAT comune</small>
                            </td>
                            <td>
                                {% if travelAgency.address!= null and travelAgency.address.istat != '' %}
                                    {{ travelAgency.address.istat }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td>
                                <small>tipo</small>
                            </td>
                            <td>
                                http://dati.umbria.it/tourism/ontology/AgenziaViaggio
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
            <ol class="breadcrumb">
                <li><a href="{{ path('travel_agency_index') }}">Lista Agenzie Viaggio</a></li>
                <li class="active">{{ travelAgency.name }}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        {% set latitude = '' %}
        {% set longitude = '' %}
        {% if travelAgency.lat != null %}
        {% set latitude = travelAgency.lat %}
        {% set longitude = travelAgency.lng %}
        {% endif %}

    </script>
{% endblock %}
