{% extends "UmbriaProLocoBundle::frontend.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <table>
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ profession.id }}</td>
                </tr>
                <tr>
                    <th>Idcontenuto</th>
                    <td>{{ profession.idContenuto }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ profession.firstName }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ profession.lastName }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

